
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Aturan paling simpel: Asal pengguna terautentikasi (login), 
    // mereka diizinkan untuk membaca dan menulis ke semua dokumen.
    // Kontrol akses level UI (Admin vs User) ditangani di level aplikasi.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
